* {
  font-family: 'Josefin Sans';
}

.main {
  border: 2px solid;
  width: 871px;
  height: 350px;
  margin: auto;
  margin-top: 112px;
  border-radius: 30px;
  justify-content: center;
}

.main * {
  margin-right: auto;
  margin-left: auto;
}

.logo {
  width: 80%;
  height: 70%;
  /* background-color: #f00; */
  margin-top: 3%;
  background-image: url('./assets/pet_shower_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.label-logo {
  width: fit-content;
  margin-top: 2%;
  font-size: 1.5rem;
  font-weight: 500;
}